{% extends 'news.html' %}
{% block head %}
<title>{{ title }}</title>
<meta name="description" content="{{ desc }}"/>
<meta name="keywords" content="{{ key }}"/>
{% endblock %}
 
{% block body %}
  <h1>News</h1>
  {% if not posts %}
  <b>no pages found</b>
  {% else %}

  <div class="row">
  	 <div class="col-md-">

  	<ul  class="list-group">
    {% for obj in posts %}
    <li class="list-group-item"><a href="{{ obj.get_absolute_url }}" class="list-group-item list-group-item-action">    	
    	<p class="list-group-item-heading"><b>{{ obj.title }}</b> 
    	<p class="list-group-item-text">{{ obj.description|truncatechars:70 }}

    	</p> 
    </a>
	</li>    

    {% endfor %}
    </ul>
    </div>
  </div>

  {% endif %}
 
  {% if posts.has_previous %}
  <a href="?page={{ posts.previous_page_number }}">Next</a>
  {% endif %}
  <span>{{ posts.number }} / {{ posts.num_pages }}</span>
  {% if posts.has_next %}
  <a href="?page={{ posts.next_page_number }}" >Back</a>
  {% endif %}
{% endblock %}